[alias]
    st = status
    co = checkout
    gr = grep
    df = diff
    cm = commit
    b = branch
    rs = reset
    rsh = reset --hard HEAD
    ph = push
    pl = pull
    cob = !git checkout `git branch | peco`
		o = origin
		m = master
	a = add
	cmn = commit  --allow-empty-message

	pom = push origin master




